* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #ccc;
  display: grid;
  place-content: center;
  height: 100vh;
}

.titulos {
  display: flex;
  background: #5e6064;
  width: max-content;
  color: white;
}
.titulos h3 {
  padding: 8px 16px;
  cursor: pointer;
}
.titulos h3:hover {
  background: #5b77ab;
  color: #fff;
}

.textos {
  background: #5b77ab;
  color: #fff;
  max-width: 400px;
  padding: 12px 24px;
  min-height: 120px;
  line-height: 1.3;
}

.titulos h3.ativo {
  background-color: #5b77ab;
  color: #fff;
}

.textos div {
  display: none;
}

.textos div.ativo {
  display: block;
}
